<!-- iniciar-sesion.component.html -->
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <div class="text-center mb-2">
                        <i class="bi bi-person-circle user-icon"></i>
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo Electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" class="form-control" id="correo" [(ngModel)]="correo" name="correo" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                <input type="password" class="form-control" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                    <div class="text-center mt-3">
                        <button (click)="go_registro()" class="btn btn-primary w-100">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
